sol.cpp
sol.sh
hacker.sh
test.cpp
generator.cpp
correct.cpp
wrong.cpp
run.cpp
generator
correct
wrong
run


sol

input.in
input.txt


output.in
output.txt

correct_solution.txt
wrong_solution.txt

.DS_Store

.vscode

